{{!-- partials --}}
<nav class="container">
    <a class="nav" href="/">
        <li>Home</li>
    </a>
    <a class="nav" href="/register">
        <li>Register</li>
    </a>
    <a class="nav" href="/allUsers">
        <li>All Users</li>
    </a>
    <a class="nav" href="/blogPosts">
        <li>All Blog Posts</li>
    </a>
</nav>