<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <body>
        {{>nav this}}
        <h1>Welcome to User Portal</h1>
        <p class="content">On this portal you have the ability to register a new user, update or a delete existing users. Each user is able to create new blog posts and view their own posts via there profile or access all blog posts of all users.</p>
    </body>
</body>

</html>